@media (max-width: 767px) {
  .navbar-collapse {
    text-align: center;
  }
}

.navbar-default .navbar-brand {
  color: white;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.navbar-nav {
  li a {
    padding: 0 !important;

    p.glyphicon{
      margin: 13px 25px 13px 8px;
      font-size: 20px !important;
    }

    span{
      font-size: 17px !important;
    }

  }
}