#RestaurantsPage {

  text-align: center;

  .restaurantsSection {
    width: 100%;
    margin: 1% 0 !important;

    .restaurantButton {
      float: left;
      margin: 10% 20%;
      width: 60%;
      height: 200px;
      background-color: #337AB7;
      color: white;
      font-size: 25px;
      font-weight: bolder;
      text-transform: uppercase;
    }
  }
}