#RestaurantsPage {
    
    text-align: center;

    .restaurantButton{
        float: left;
        width: 200px;
        height: 200px;
        font-size: 25px;
        font-weight: bolder;
        text-transform: uppercase;
    }
}