$itemBorder: 1px solid lightgray;
$itemFontSize: 25px;
$itemFontSizeMobile: 15px;

#CheckoutPage {
  text-align: center;
  padding: 1% 20%;

  .heading span {
    font-size: $itemFontSize;
  }

  .ordersList {
    list-style-type: none;
    padding: 0;

    li {
      font-size: $itemFontSize;
      border-bottom: $itemBorder;
      margin: 0.5%;
    }

  }

  .orderRow {

    padding: 0 20%;

    h3 {
      font-size: 27px;
      float: left;
    }

    button {
      float: right;
      font-size: 20px;
      transform: translateY(30%);
    }
  }

  @media (max-width: 767px) {

    padding: 0;

    .heading span {
      font-size: $itemFontSizeMobile;
    }

    .orderRow {
      padding: 5%;
    }

    .orderRow h3 {
      font-size: $itemFontSizeMobile*3/2;
    }

    .orderRow button {
      font-size: $itemFontSizeMobile;
    }

    .ordersList li {
      font-size: $itemFontSizeMobile*6/5;
    }

    .ordersList li span{
      font-size: $itemFontSizeMobile;
      padding:  1% 0;
    }

  }

}